/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

@charset "UTF-8";
/* line 3, ../Фронтенд/Портфолио/Web-Studio/sass/style.sass */
* {
   -webkit-box-sizing: border-box;
   box-sizing: border-box;
   font-family: "Noto Sans JP", sans-serif;
   font-weight: 400;
}

/* line 7, ../Фронтенд/Портфолио/Web-Studio/sass/style.sass */
body {
   font-family: "Noto Sans JP", sans-serif;
   font-weight: 400;
}

/* line 11, ../Фронтенд/Портфолио/Web-Studio/sass/style.sass */
.wrapper {
   max-width: 1275px;
   min-width: 290px;
   position: relative;
   -webkit-box-sizing: border-box;
   box-sizing: border-box;
   padding: 0 15px;
   margin: 0 auto;
}

/* line 18, ../Фронтенд/Портфолио/Web-Studio/sass/style.sass */
.wrapper-big {
   max-width: 1530px;
   min-width: 320px;
   padding: 0 15px;
   margin: 0 auto;
   position: relative;
   -webkit-box-sizing: border-box;
   box-sizing: border-box;
}

/* line 25, ../Фронтенд/Портфолио/Web-Studio/sass/style.sass */
header {
   background: url(../images/header.png) center no-repeat;
   min-height: 810px;
   color: #ffffff;
}

/* line 30, ../Фронтенд/Портфолио/Web-Studio/sass/style.sass */
.burger {
   display: none;
   width: 60px;
   height: 50px;
   cursor: pointer;
   position: relative;
}

/* line 37, ../Фронтенд/Портфолио/Web-Studio/sass/style.sass */
.burger__line {
   display: block;
   width: 100%;
   height: 5px;
   background-color: #000;
   position: absolute;
   left: 0;
   -webkit-transition: 0.3s all linear;
   -o-transition: 0.3s all linear;
   transition: 0.3s all linear;
}

/* line 45, ../Фронтенд/Портфолио/Web-Studio/sass/style.sass */
.burger__line_first {
   top: 0;
}

/* line 47, ../Фронтенд/Портфолио/Web-Studio/sass/style.sass */
.burger__line_second,
.burger__line_third {
   top: 50%;
   -webkit-transform: translateY(-50%);
   -ms-transform: translateY(-50%);
   transform: translateY(-50%);
}

/* line 50, ../Фронтенд/Портфолио/Web-Studio/sass/style.sass */
.burger__line_fourth {
   bottom: 0;
}

/* line 52, ../Фронтенд/Портфолио/Web-Studio/sass/style.sass */
.burger_active .burger__line_first,
.burger_active .burger__line_fourth {
   opacity: 0;
}

/* line 54, ../Фронтенд/Портфолио/Web-Studio/sass/style.sass */
.burger_active .burger__line_second {
   -webkit-transform: translateY(-50%) rotate(45deg);
   -ms-transform: translateY(-50%) rotate(45deg);
   transform: translateY(-50%) rotate(45deg);
}

/* line 56, ../Фронтенд/Портфолио/Web-Studio/sass/style.sass */
.burger_active .burger__line_third {
   -webkit-transform: translateY(-50%) rotate(-45deg);
   -ms-transform: translateY(-50%) rotate(-45deg);
   transform: translateY(-50%) rotate(-45deg);
}

/* line 59, ../Фронтенд/Портфолио/Web-Studio/sass/style.sass */
.title {
   font-size: 48px;
   text-transform: uppercase;
   text-align: center;
   line-height: 72px;
   letter-spacing: 3px;
}

/* line 65, ../Фронтенд/Портфолио/Web-Studio/sass/style.sass */
.subtitle {
   font-size: 24px;
   line-height: 36px;
   letter-spacing: 1px;
   text-align: center;
}

/* line 71, ../Фронтенд/Портфолио/Web-Studio/sass/style.sass */
.title__header {
   padding: 0 75px;
   padding-top: 200px;
}

/* line 74, ../Фронтенд/Портфолио/Web-Studio/sass/style.sass */
.subtitle__header {
   margin-top: 10px;
}

/* line 77, ../Фронтенд/Портфолио/Web-Studio/sass/style.sass */
.info-stats {
   padding: 55px 172px 0 180px;
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-pack: justify;
   -ms-flex-pack: justify;
   justify-content: space-between;
}

/* line 82, ../Фронтенд/Портфолио/Web-Studio/sass/style.sass */
.info-stats__item {
   width: 250px;
   height: 160px;
   border: solid white 2px;
   padding-top: 35px;
}

/* line 88, ../Фронтенд/Портфолио/Web-Studio/sass/style.sass */
.info-stats__inner {
   text-align: center;
}

/* line 90, ../Фронтенд/Портфолио/Web-Studio/sass/style.sass */
.info-stats__nuber {
   line-height: 72px;
   font-size: 48px;
}

/* line 93, ../Фронтенд/Портфолио/Web-Studio/sass/style.sass */
.info-stats__description {
   font-size: 18px;
}

/* line 95, ../Фронтенд/Портфолио/Web-Studio/sass/style.sass */
.first-icon {
   position: absolute;
   left: 90px;
   bottom: 137px;
}

/* line 99, ../Фронтенд/Портфолио/Web-Studio/sass/style.sass */
.second-icon {
   position: absolute;
   left: 93px;
   bottom: 137px;
}

/* line 103, ../Фронтенд/Портфолио/Web-Studio/sass/style.sass */
.third-icon {
   position: absolute;
   left: 90px;
   bottom: 137px;
}

/* line 108, ../Фронтенд/Портфолио/Web-Studio/sass/style.sass */
.info-stats__item {
   padding-top: 35px;
   position: relative;
   width: 220px;
   height: 160px;
   border: solid white;
   border-width: 0 2px 2px 2px;
}

/* line 116, ../Фронтенд/Портфолио/Web-Studio/sass/style.sass */
.info-stats__item:before,
.info-stats__item:after {
   content: "";
   position: absolute;
   background: white;
   width: 37%;
   height: 2px;
   top: 0;
}

/* line 124, ../Фронтенд/Портфолио/Web-Studio/sass/style.sass */
.info-stats__item:after {
   right: 0;
}

/* line 127, ../Фронтенд/Портфолио/Web-Studio/sass/style.sass */
.about-us {
   display: relative;
   min-height: 1220px;
}

/* line 131, ../Фронтенд/Портфолио/Web-Studio/sass/style.sass */
.nav-bar {
   position: relative;
}

/* line 133, ../Фронтенд/Портфолио/Web-Studio/sass/style.sass */
.nav-bar__items:after {
   content: "";
   width: 120%;
   height: 1px;
   position: absolute;
   left: -126px;
   bottom: 0;
   background-color: #adadad;
}

/* line 141, ../Фронтенд/Портфолио/Web-Studio/sass/style.sass */
.nav-bar__items {
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-pack: end;
   -ms-flex-pack: end;
   justify-content: flex-end;
}

/* line 144, ../Фронтенд/Портфолио/Web-Studio/sass/style.sass */
li + li {
   padding-left: 40px;
}

/* line 147, ../Фронтенд/Портфолио/Web-Studio/sass/style.sass */
.nav-bar__item a {
   font-size: 30px;
   line-height: 90px;
   outline: none;
}

/* line 151, ../Фронтенд/Портфолио/Web-Studio/sass/style.sass */
.nav-bar__item a:hover {
   color: #f6ae48;
}

/* line 154, ../Фронтенд/Портфолио/Web-Studio/sass/style.sass */
.about-us__middle {
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-pack: justify;
   -ms-flex-pack: justify;
   justify-content: space-between;
   -webkit-box-align: center;
   -ms-flex-align: center;
   align-items: center;
   -webkit-box-pack: baseline;
   -ms-flex-pack: baseline;
   justify-content: baseline;
   margin-top: 128px;
   margin-bottom: 128px;
}

/* line 161, ../Фронтенд/Портфолио/Web-Studio/sass/style.sass */
.about-us__studio {
   font-weight: bold;
   font-size: 48px;
}

/* line 165, ../Фронтенд/Портфолио/Web-Studio/sass/style.sass */
.about-us__text {
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-pack: center;
   -ms-flex-pack: center;
   justify-content: center;
   -webkit-box-align: center;
   -ms-flex-align: center;
   align-items: center;
   color: #545454;
   font-size: 20px;
   line-height: 26px;
   word-spacing: 1px;
   background-image: url("../images/WE.png");
   background-repeat: no-repeat;
   background-size: contain;
   background-position: left;
   width: 780px;
   height: 250px;
}

/* line 180, ../Фронтенд/Портфолио/Web-Studio/sass/style.sass */
.about-us__items {
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   padding-bottom: 250px;
}

/* line 183, ../Фронтенд/Портфолио/Web-Studio/sass/style.sass */
.about-us__item {
   max-width: 440px;
   max-height: 360px;
}

/* line 186, ../Фронтенд/Портфолио/Web-Studio/sass/style.sass */
.about-us__item:hover {
   background-color: #f6ae48;
   color: white;
}

/* line 189, ../Фронтенд/Портфолио/Web-Studio/sass/style.sass */
.about-us__item button {
   color: white;
   border: 2px solid white;
   background-color: inherit;
   display: inline-block;
   font-size: 18px;
   width: 131px;
   height: 36px;
}

/* line 197, ../Фронтенд/Портфолио/Web-Studio/sass/style.sass */
.about-us__item button:hover {
   cursor: pointer;
}

/* line 200, ../Фронтенд/Портфолио/Web-Studio/sass/style.sass */
.about-us__item a img:hover {
   cursor: pointer;
}

/* line 203, ../Фронтенд/Портфолио/Web-Studio/sass/style.sass */
.about-us__title {
   font-weight: bold;
   font-size: 20px;
   line-height: 28px;
}

/* line 208, ../Фронтенд/Портфолио/Web-Studio/sass/style.sass */
.button-arrow {
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-align: baseline;
   -ms-flex-align: baseline;
   align-items: baseline;
   -webkit-box-pack: justify;
   -ms-flex-pack: justify;
   justify-content: space-between;
   padding-top: 25px;
}

/* line 214, ../Фронтенд/Портфолио/Web-Studio/sass/style.sass */
.about-us__description {
   line-height: 22px;
   font-size: 16px;
}

/* line 217, ../Фронтенд/Портфолио/Web-Studio/sass/style.sass */
#pl {
   padding: 10px 20px 20px 16px;
}

/* line 220, ../Фронтенд/Портфолио/Web-Studio/sass/style.sass */
.development {
   background: url(../images/about-us-credo.png) top center no-repeat;
   height: 1180px;
   color: white;
}

/* line 224, ../Фронтенд/Портфолио/Web-Studio/sass/style.sass */
.developmen-about-us {
   padding-right: 0;
   height: 565px;
}

/* line 230, ../Фронтенд/Портфолио/Web-Studio/sass/style.sass */
.development__img {
   z-index: 2;
}

/* line 232, ../Фронтенд/Портфолио/Web-Studio/sass/style.sass */
.development__img img {
   position: absolute;
   left: -112px;
   top: 520px;
}

/* line 237, ../Фронтенд/Портфолио/Web-Studio/sass/style.sass */
.development__img div {
   position: absolute;
   font-size: 50px;
   top: 655px;
}

/* line 242, ../Фронтенд/Портфолио/Web-Studio/sass/style.sass */
.title-development {
   font-weight: bold;
   font-size: 50px;
   padding-top: 140px;
   text-transform: uppercase;
}

/* line 248, ../Фронтенд/Портфолио/Web-Studio/sass/style.sass */
.subtitle-development {
   padding-top: 10px;
   font-size: 24px;
}

/* line 252, ../Фронтенд/Портфолио/Web-Studio/sass/style.sass */
.development-items {
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-pack: center;
   -ms-flex-pack: center;
   justify-content: center;
   position: relative;
   z-index: 5;
   margin-top: 205px;
}

/* line 259, ../Фронтенд/Портфолио/Web-Studio/sass/style.sass */
.development-item {
   position: relative;
   text-transform: uppercase;
   font-size: 50px;
   font-weight: 500;
   width: 100%;
   max-width: 366px;
   height: 100%;
   max-height: 315px;
   z-index: 5;
}

/* line 269, ../Фронтенд/Портфолио/Web-Studio/sass/style.sass */
.development-item__contain {
   padding: 75px 40px 30px 39px;
}

/* line 272, ../Фронтенд/Портфолио/Web-Studio/sass/style.sass */
.development-item + .development-item {
   margin-left: 17px;
}

/* line 274, ../Фронтенд/Портфолио/Web-Studio/sass/style.sass */
.landing-page {
   background: url(../images/landing-page.png) center no-repeat;
   background-size: contain;
}

/* line 278, ../Фронтенд/Портфолио/Web-Studio/sass/style.sass */
.web-site {
   background: url(../images/web-site.png) center no-repeat;
   background-size: contain;
}

/* line 282, ../Фронтенд/Портфолио/Web-Studio/sass/style.sass */
.online-store {
   background: url(../images/online-store.png) center no-repeat;
   background-size: contain;
}

/* line 286, ../Фронтенд/Портфолио/Web-Studio/sass/style.sass */
.development-item__title {
   width: 260px;
   height: 110px;
   border-bottom: 1px solid #ffffff;
}

/* line 291, ../Фронтенд/Портфолио/Web-Studio/sass/style.sass */
.button-arrow__development img {
   cursor: pointer;
}

/* line 293, ../Фронтенд/Портфолио/Web-Studio/sass/style.sass */
.button-arrow__development a button {
   background-color: Transparent;
   background-repeat: no-repeat;
   color: white;
   cursor: pointer;
   font-size: 24px;
   word-spacing: 5px;
   letter-spacing: 1px;
   width: 199px;
   height: 54px;
}

/* line 304, ../Фронтенд/Портфолио/Web-Studio/sass/style.sass */
.blue {
   border: solid 2px blue;
}

/* line 306, ../Фронтенд/Портфолио/Web-Studio/sass/style.sass */
.yellow {
   border: solid 2px yellow;
}

/* line 308, ../Фронтенд/Портфолио/Web-Studio/sass/style.sass */
.green {
   border: solid 2px green;
}

/* line 311, ../Фронтенд/Портфолио/Web-Studio/sass/style.sass */
.be-first {
   height: 670px;
}

/* line 313, ../Фронтенд/Портфолио/Web-Studio/sass/style.sass */
.clone-title__be-first {
   background: url(../images/be-the-first.png) bottom left no-repeat;
   background-size: contain;
}

/* line 316, ../Фронтенд/Портфолио/Web-Studio/sass/style.sass */
.be-first-text {
   padding-top: 120px;
}

/* line 319, ../Фронтенд/Портфолио/Web-Studio/sass/style.sass */
.be-first-img {
   padding-left: 20px;
   margin-top: 90px;
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-orient: vertical;
   -webkit-box-direction: normal;
   -ms-flex-direction: column;
   flex-direction: column;
}

/* line 325, ../Фронтенд/Портфолио/Web-Studio/sass/style.sass */
.be-first-img__img {
   display: inline-block;
   margin-top: 40px;
}

/* line 329, ../Фронтенд/Портфолио/Web-Studio/sass/style.sass */
.be-first__flex {
   margin-right: 218px;
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-pack: justify;
   -ms-flex-pack: justify;
   justify-content: space-between;
}

/* line 334, ../Фронтенд/Портфолио/Web-Studio/sass/style.sass */
#be-the-first {
   text-transform: uppercase;
   z-index: -1;
   position: absolute;
   left: 13px;
   color: #dedede;
   font-size: 80px;
   font-weight: bold;
}

/* line 343, ../Фронтенд/Портфолио/Web-Studio/sass/style.sass */
.projects {
   background-color: #303263;
   width: 100%;
   max-height: 987px;
   max-width: 1500px;
   position: relative;
   -webkit-box-sizing: border-box;
   box-sizing: border-box;
   padding: 0 15px;
   margin: 0 auto;
}

/* line 360, ../Фронтенд/Портфолио/Web-Studio/sass/style.sass */
.projects__title {
   position: relative;
   height: 100%;
   max-height: 117px;
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-pack: center;
   -ms-flex-pack: center;
   justify-content: center;
   -webkit-box-align: center;
   -ms-flex-align: center;
   align-items: center;
   color: white;
   font-size: 36px;
   text-transform: uppercase;
}

/* line 371, ../Фронтенд/Портфолио/Web-Studio/sass/style.sass */
.projects__title p {
   background-image: url("../images/OUR-PROJECTS.png");
   background-repeat: no-repeat;
   background-size: contain;
   background-position: center;
   text-align: center;
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-pack: center;
   -ms-flex-pack: center;
   justify-content: center;
   -webkit-box-align: center;
   -ms-flex-align: center;
   align-items: center;
   width: 56%;
   height: 80%;
   padding: 15px 0;
}

/* line 384, ../Фронтенд/Портфолио/Web-Studio/sass/style.sass */
.projects-imgs__first {
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
}

/* line 387, ../Фронтенд/Портфолио/Web-Studio/sass/style.sass */
#PC {
   width: 51%;
}

/* line 389, ../Фронтенд/Портфолио/Web-Studio/sass/style.sass */
#cons {
   width: 49%;
}

/* line 392, ../Фронтенд/Портфолио/Web-Studio/sass/style.sass */
.projects-imgs__second {
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
}

/* line 395, ../Фронтенд/Портфолио/Web-Studio/sass/style.sass */
.projects-imgs__second img {
   width: 25%;
}

/* line 398, ../Фронтенд/Портфолио/Web-Studio/sass/style.sass */
.projects-bottom {
   height: 100%;
   max-height: 117px;
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-pack: center;
   -ms-flex-pack: center;
   justify-content: center;
   -webkit-box-align: center;
   -ms-flex-align: center;
   align-items: center;
}

/* line 404, ../Фронтенд/Портфолио/Web-Studio/sass/style.sass */
.projects-button {
   margin-top: 20px;
   margin-bottom: 20px;
   width: 240px;
   height: 66px;
   background-color: #6a6b8e;
   font-size: 20px;
   text-transform: uppercase;
   color: white;
   font-weight: bold;
   border: none;
   border-radius: 16px;
   cursor: pointer;
}

/* line 418, ../Фронтенд/Портфолио/Web-Studio/sass/style.sass */
.clone {
   width: 100%;
   max-width: 1500px;
   margin: 0 auto;
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-pack: start;
   -ms-flex-pack: start;
   justify-content: start;
   -webkit-box-align: center;
   -ms-flex-align: center;
   align-items: center;
}

/* line 425, ../Фронтенд/Портфолио/Web-Studio/sass/style.sass */
.clone-adaptate {
   height: 765px;
   background: url(../images/outline.png) no-repeat;
   background-position: 843px 165px;
}

/* line 429, ../Фронтенд/Портфолио/Web-Studio/sass/style.sass */
.adaptate-text {
   padding-left: 10%;
   padding-top: 7%;
}

/* line 434, ../Фронтенд/Портфолио/Web-Studio/sass/style.sass */
.clone-title {
   padding-left: 50px;
   font-size: 36px;
   line-height: 64px;
   text-transform: uppercase;
   font-weight: bold;
   display: block;
}

/* line 441, ../Фронтенд/Портфолио/Web-Studio/sass/style.sass */
.clone-title__adaptate {
   background: url(../images/ADAPTATE.png) bottom left no-repeat;
   background-size: contain;
}

/* line 444, ../Фронтенд/Портфолио/Web-Studio/sass/style.sass */
.clone-description {
   max-width: 608px;
   padding-left: 50px;
   font-size: 24px;
   line-height: 40px;
   letter-spacing: 1px;
   word-spacing: 2px;
}

/* line 452, ../Фронтенд/Портфолио/Web-Studio/sass/style.sass */
.trade-in {
   color: white;
   margin: 0 auto;
   padding-left: 94px;
   width: 100%;
   max-width: 1500px;
   height: 675px;
   background-color: #303263;
}

/* line 461, ../Фронтенд/Портфолио/Web-Studio/sass/style.sass */
.trade-in__title {
   text-align: center;
   padding: 60px 0 75px 0;
   text-transform: uppercase;
   font-size: 48px;
   font-weight: bold;
}

/* line 467, ../Фронтенд/Портфолио/Web-Studio/sass/style.sass */
.trade-in-items {
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   padding-right: 0;
}

/* line 472, ../Фронтенд/Портфолио/Web-Studio/sass/style.sass */
.trade-in-item + .trade-in-item {
   padding-left: 40px;
}

/* line 475, ../Фронтенд/Портфолио/Web-Studio/sass/style.sass */
.trade-in-item__top {
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-orient: horizontal;
   -webkit-box-direction: normal;
   -ms-flex-direction: row;
   flex-direction: row;
}

/* line 480, ../Фронтенд/Портфолио/Web-Studio/sass/style.sass */
.trade-in-item__title {
   padding-left: 22px;
   text-transform: uppercase;
   font-weight: bold;
   font-size: 30px;
}

/* line 486, ../Фронтенд/Портфолио/Web-Studio/sass/style.sass */
.trade-in-item__description {
   padding-top: 28px;
   font-size: 18px;
   line-height: 30px;
   word-spacing: 3px;
}

/* line 492, ../Фронтенд/Портфолио/Web-Studio/sass/style.sass */
.magnify-descr {
   padding: 8px 0 0 40px;
}

/* line 495, ../Фронтенд/Портфолио/Web-Studio/sass/style.sass */
.button-padding {
   padding-top: 20px;
   text-align: center;
}

/* line 498, ../Фронтенд/Портфолио/Web-Studio/sass/style.sass */
.trade-in__button {
   cursor: pointer;
   color: white;
   -webkit-box-align: center;
   -ms-flex-align: center;
   align-items: center;
   font-weight: bold;
   font-size: 24px;
   text-transform: uppercase;
   width: 330px;
   height: 54px;
   border-radius: 18px;
   border: none;
   background-color: #f6ae48;
}

/* line 511, ../Фронтенд/Портфолио/Web-Studio/sass/style.sass */
.clone-be-careful {
   height: 758px;
   background: url(../images/be-careful.png) no-repeat;
   background-position: 890px 55px;
}

/* line 515, ../Фронтенд/Портфолио/Web-Studio/sass/style.sass */
.clone-title__be-careful {
   background: url(../images/be-careful__text.png) bottom left no-repeat;
   background-size: contain;
}

/* line 518, ../Фронтенд/Портфолио/Web-Studio/sass/style.sass */
.text-careful {
   padding-bottom: 120px;
   padding-left: 10%;
}

/* line 521, ../Фронтенд/Портфолио/Web-Studio/sass/style.sass */
.feedback {
   max-width: 1500px;
   height: 675px;
   margin: 0 auto;
   background-color: #f6ae48;
   background: url(../images/feedback.png) center top no-repeat;
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-orient: horizontal;
   -webkit-box-direction: normal;
   -ms-flex-direction: row;
   flex-direction: row;
}

/* line 530, ../Фронтенд/Портфолио/Web-Studio/sass/style.sass */
.feedback-form {
   color: white;
   font-size: 18px;
}

/* line 533, ../Фронтенд/Портфолио/Web-Studio/sass/style.sass */
.feedback-form input {
   outline: none;
   border: solid 4px white;
   background-color: transparent;
   color: white;
   font-size: 18px;
}

/* line 540, ../Фронтенд/Портфолио/Web-Studio/sass/style.sass */
.feedback-form input[type="text"] {
   padding-left: 20px;
}

/* line 542, ../Фронтенд/Портфолио/Web-Studio/sass/style.sass */
.feedback-form input[type="email"] {
   padding-left: 20px;
}

/* line 545, ../Фронтенд/Портфолио/Web-Studio/sass/style.sass */
input::-webkit-input-placeholder {
   color: white;
}
input::-moz-placeholder {
   color: white;
}
input:-ms-input-placeholder {
   color: white;
}
input::-ms-input-placeholder {
   color: white;
}
input::placeholder {
   color: white;
}

/* line 547, ../Фронтенд/Портфолио/Web-Studio/sass/style.sass */
textarea::-webkit-input-placeholder {
   color: white;
}
textarea::-moz-placeholder {
   color: white;
}
textarea:-ms-input-placeholder {
   color: white;
}
textarea::-ms-input-placeholder {
   color: white;
}
textarea::placeholder {
   color: white;
}

/* line 549, ../Фронтенд/Портфолио/Web-Studio/sass/style.sass */
#name {
   width: 309px;
   height: 50px;
}

/* line 552, ../Фронтенд/Портфолио/Web-Studio/sass/style.sass */
#surname {
   width: 305px;
   height: 50px;
   border-left: none;
}

/* line 557, ../Фронтенд/Портфолио/Web-Studio/sass/style.sass */
#email {
   width: 614px;
   height: 46px;
   border-top: none;
}

/* line 562, ../Фронтенд/Портфолио/Web-Studio/sass/style.sass */
#message {
   width: 614px;
   height: 167px;
   background-color: transparent;
   border: solid 4px white;
   border-top: none;
   resize: none;
   outline: none;
   color: white;
   font-size: 18px;
   padding: 5px 20px;
}

/* line 574, ../Фронтенд/Портфолио/Web-Studio/sass/style.sass */
.feedback-text {
   color: white;
}

/* line 577, ../Фронтенд/Портфолио/Web-Studio/sass/style.sass */
.feedback-text__title {
   font-weight: bold;
   text-transform: uppercase;
   font-size: 30px;
}

/* line 581, ../Фронтенд/Портфолио/Web-Studio/sass/style.sass */
.feedback-text__description {
   max-width: 360px;
   padding-top: 55px;
   font-size: 18px;
   line-height: 25px;
   word-spacing: 2px;
}

/* line 588, ../Фронтенд/Портфолио/Web-Studio/sass/style.sass */
.feedback-flex {
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-pack: justify;
   -ms-flex-pack: justify;
   justify-content: space-between;
   padding: 126px 25px 0 50px;
}

/* line 592, ../Фронтенд/Портфолио/Web-Studio/sass/style.sass */
.form-text {
   font-size: 14px;
}

/* line 594, ../Фронтенд/Портфолио/Web-Studio/sass/style.sass */
.input-submit {
   cursor: pointer;
   color: white;
   font-weight: bold;
   font-size: 14px;
   text-transform: uppercase;
   width: 143px;
   height: 44px;
   border: none;
   border-radius: 16px;
   background-color: #f6ae48;
}

/* line 605, ../Фронтенд/Портфолио/Web-Studio/sass/style.sass */
.form-bottom {
   padding-top: 14px;
   padding-left: 23px;
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-orient: horizontal;
   -webkit-box-direction: normal;
   -ms-flex-direction: row;
   flex-direction: row;
   -webkit-box-pack: justify;
   -ms-flex-pack: justify;
   justify-content: space-between;
}

@media (max-width: 1507px) {
   /* line 613, ../Фронтенд/Портфолио/Web-Studio/sass/style.sass */
   .nav-bar__items:after {
      width: 125%;
      left: -20%;
   }
}

@media (max-width: 1400px) {
   /* line 618, ../Фронтенд/Портфолио/Web-Studio/sass/style.sass */
   .nav-bar__items:after {
      width: 120%;
      left: -20%;
   }
   /* line 621, ../Фронтенд/Портфолио/Web-Studio/sass/style.sass */
   .trade-in {
      height: 100%;
      max-height: 1500px;
      padding-left: 15px;
   }
   /* line 625, ../Фронтенд/Портфолио/Web-Studio/sass/style.sass */
   .trade-in__title {
      padding: 30px 0 30px 0;
   }
   /* line 627, ../Фронтенд/Портфолио/Web-Studio/sass/style.sass */
   .button-padding {
      padding-top: 30px;
      padding-bottom: 30px;
   }
}

@media (max-width: 1200px) {
   /* line 632, ../Фронтенд/Портфолио/Web-Studio/sass/style.sass */
   .info-stats {
      padding-left: 50px;
      padding-right: 50px;
   }
   /* line 635, ../Фронтенд/Портфолио/Web-Studio/sass/style.sass */
   .be-first__flex {
      margin-right: 20px;
   }
}

@media (max-width: 1070px) {
   /* line 639, ../Фронтенд/Портфолио/Web-Studio/sass/style.sass */
   .title {
      font-size: 40px;
      line-height: 65px;
      letter-spacing: 2px;
   }
   /* line 643, ../Фронтенд/Портфолио/Web-Studio/sass/style.sass */
   .title__header {
      padding: 0 50px;
      padding-top: 100px;
   }
   /* line 646, ../Фронтенд/Портфолио/Web-Studio/sass/style.sass */
   .subtitle {
      padding-top: 40px;
      font-size: 22px;
      line-height: 32px;
      letter-spacing: 1px;
      text-align: center;
   }
   /* line 652, ../Фронтенд/Портфолио/Web-Studio/sass/style.sass */
   .info-stats {
      padding: 100px 30px 0 30px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between;
   }
   /* line 656, ../Фронтенд/Портфолио/Web-Studio/sass/style.sass */
   .about-us {
      height: 100%;
      max-height: 3500px;
   }
   /* line 659, ../Фронтенд/Портфолио/Web-Studio/sass/style.sass */
   .about-us__middle {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-pack: start;
      -ms-flex-pack: start;
      justify-content: start;
      padding-bottom: 0;
      margin-top: 60px;
      margin-bottom: 60px;
   }
   /* line 666, ../Фронтенд/Портфолио/Web-Studio/sass/style.sass */
   .about-us__text {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      color: #545454;
      font-size: 20px;
      line-height: 26px;
      word-spacing: 1px;
      background-image: url("../images/WE.png");
      background-repeat: no-repeat;
      background-size: contain;
      background-position: left;
      margin-top: 60px;
      width: 100%;
      max-width: 500px;
      height: 200px;
   }
   /* line 682, ../Фронтенд/Портфолио/Web-Studio/sass/style.sass */
   .about-us__items {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      padding: 40px 0;
   }
   /* line 685, ../Фронтенд/Портфолио/Web-Studio/sass/style.sass */
   .about-us-flex {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
   }
   /* line 690, ../Фронтенд/Портфолио/Web-Studio/sass/style.sass */
   .feedback-flex {
      padding: 126px 25px 0 20px;
   }
   /* line 692, ../Фронтенд/Портфолио/Web-Studio/sass/style.sass */
   .development {
      height: 100%;
      max-height: 3000px;
   }
   /* line 695, ../Фронтенд/Портфолио/Web-Studio/sass/style.sass */
   .development-items {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      padding-bottom: 40px;
   }
   /* line 700, ../Фронтенд/Портфолио/Web-Studio/sass/style.sass */
   .development-item + .development-item {
      margin: 0;
      margin-top: 60px;
   }
   /* line 703, ../Фронтенд/Портфолио/Web-Studio/sass/style.sass */
   .feedback-flex {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      padding: 20px 15px 0 15px;
   }
   /* line 708, ../Фронтенд/Портфолио/Web-Studio/sass/style.sass */
   .feedback-text__description {
      padding-top: 10px;
   }
   /* line 710, ../Фронтенд/Портфолио/Web-Studio/sass/style.sass */
   .form-flex {
      padding-top: 20px;
   }
}

@media (max-width: 985px) {
   /* line 713, ../Фронтенд/Портфолио/Web-Studio/sass/style.sass */
   .trade-in {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
   }
   /* line 716, ../Фронтенд/Портфолио/Web-Studio/sass/style.sass */
   .trade-in-items {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      padding-left: 15px;
   }
   /* line 721, ../Фронтенд/Портфолио/Web-Studio/sass/style.sass */
   .item-magnify {
      -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
   }
   /* line 723, ../Фронтенд/Портфолио/Web-Studio/sass/style.sass */
   .item-pc {
      -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
   }
   /* line 725, ../Фронтенд/Портфолио/Web-Studio/sass/style.sass */
   .trade-in-item + .trade-in-item {
      padding: 30px 0 0 0;
   }
   /* line 727, ../Фронтенд/Портфолио/Web-Studio/sass/style.sass */
   .trade-in-item {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      width: 100%;
      max-width: 500px;
   }
   /* line 733, ../Фронтенд/Портфолио/Web-Studio/sass/style.sass */
   .magnify-descr {
      padding: 8px 0 0 0;
   }
}

@media (max-width: 850px) {
   /* line 739, ../Фронтенд/Портфолио/Web-Studio/sass/style.sass */
   .info-stats {
      padding-top: 40px;
      padding-bottom: 30px;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
   }
   /* line 746, ../Фронтенд/Портфолио/Web-Studio/sass/style.sass */
   .info-stats__inner {
      text-align: center;
   }
   /* line 748, ../Фронтенд/Портфолио/Web-Studio/sass/style.sass */
   .info-stats__nuber {
      line-height: 62px;
      font-size: 38px;
   }
   /* line 751, ../Фронтенд/Портфолио/Web-Studio/sass/style.sass */
   .info-stats__description {
      font-size: 16px;
   }
   /* line 753, ../Фронтенд/Портфолио/Web-Studio/sass/style.sass */
   .first-icon {
      position: absolute;
      left: 75px;
      bottom: 108px;
   }
   /* line 757, ../Фронтенд/Портфолио/Web-Studio/sass/style.sass */
   .second-icon {
      position: absolute;
      left: 77px;
      bottom: 104px;
   }
   /* line 761, ../Фронтенд/Портфолио/Web-Studio/sass/style.sass */
   .third-icon {
      position: absolute;
      left: 73px;
      bottom: 104px;
   }
   /* line 766, ../Фронтенд/Портфолио/Web-Studio/sass/style.sass */
   .info-stats__item {
      position: relative;
      width: 220px;
      height: 160px;
      border: solid white 2px;
      border-width: 0 2px 2px 2px;
      width: 190px;
      height: 130px;
      padding-top: 35px;
   }
   /* line 776, ../Фронтенд/Портфолио/Web-Studio/sass/style.sass */
   .info-stats__item:before,
   .info-stats__item:after {
      content: "";
      position: absolute;
      background: white;
      width: 37%;
      height: 2px;
      top: 0;
   }
   /* line 784, ../Фронтенд/Портфолио/Web-Studio/sass/style.sass */
   .info-stats__item:after {
      right: 0;
   }
   /* line 787, ../Фронтенд/Портфолио/Web-Studio/sass/style.sass */
   .title__header {
      padding: 0 30px;
      padding-top: 20px;
   }
   /* line 790, ../Фронтенд/Портфолио/Web-Studio/sass/style.sass */
   .title {
      font-size: 32px;
      line-height: 50px;
      letter-spacing: 1px;
   }
   /* line 794, ../Фронтенд/Портфолио/Web-Studio/sass/style.sass */
   .subtitle {
      padding-top: 10px;
      font-size: 20px;
      line-height: 30px;
      letter-spacing: 1px;
      text-align: center;
   }
   /* line 800, ../Фронтенд/Портфолио/Web-Studio/sass/style.sass */
   .info-stats__item + .info-stats__item {
      margin-top: 50px;
   }
   /* line 802, ../Фронтенд/Портфолио/Web-Studio/sass/style.sass */
   .nav-bar__items:after {
      content: "";
      width: 0;
      height: 0;
   }
   /* line 807, ../Фронтенд/Портфолио/Web-Studio/sass/style.sass */
   .burger-nav {
      text-align: center;
   }
   /* line 809, ../Фронтенд/Портфолио/Web-Studio/sass/style.sass */
   .burger__container {
      width: 100%;
      height: 90px;
   }
   /* line 812, ../Фронтенд/Портфолио/Web-Studio/sass/style.sass */
   .burger {
      display: block;
      margin-top: 20px;
      margin-bottom: 20px;
      float: left;
   }
   /* line 817, ../Фронтенд/Портфолио/Web-Studio/sass/style.sass */
   .burger__container {
      padding-left: 15px;
   }
   /* line 819, ../Фронтенд/Портфолио/Web-Studio/sass/style.sass */
   .nav-bar {
      height: 100%;
      border: none;
   }
   /* line 822, ../Фронтенд/Портфолио/Web-Studio/sass/style.sass */
   .nav-bar__items {
      width: 100%;
      border: none;
      height: 100%;
      display: block;
   }
   /* line 827, ../Фронтенд/Портфолио/Web-Studio/sass/style.sass */
   .nav-bar__item:hover {
      background-color: #cfd8dc;
   }
   /* line 829, ../Фронтенд/Портфолио/Web-Studio/sass/style.sass */
   li + li {
      padding-left: 0;
   }
   /* line 831, ../Фронтенд/Портфолио/Web-Studio/sass/style.sass */
   .nav-bar {
      display: none;
   }
   /* line 833, ../Фронтенд/Портфолио/Web-Studio/sass/style.sass */
   .nav_active {
      display: block;
      -webkit-transition: 0.3s all linear;
      -o-transition: 0.3s all linear;
      transition: 0.3s all linear;
   }
   /* line 837, ../Фронтенд/Портфолио/Web-Studio/sass/style.sass */
   .turquoise {
      background-color: #30d5c8;
      -webkit-transition: 0.3s all linear;
      -o-transition: 0.3s all linear;
      transition: 0.3s all linear;
   }
   /* line 841, ../Фронтенд/Портфолио/Web-Studio/sass/style.sass */
   .be-first {
      height: 100%;
      max-height: 1500px;
   }
   /* line 844, ../Фронтенд/Портфолио/Web-Studio/sass/style.sass */
   .be-first__flex {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      padding-bottom: 30px;
   }
   /* line 849, ../Фронтенд/Портфолио/Web-Studio/sass/style.sass */
   .clone-title {
      padding-left: 30px;
      font-size: 30px;
      line-height: 55px;
      text-transform: uppercase;
      font-weight: bold;
      display: block;
   }
   /* line 856, ../Фронтенд/Портфолио/Web-Studio/sass/style.sass */
   .clone-description {
      max-width: 608px;
      padding-left: 30px;
      font-size: 20px;
      line-height: 30px;
   }
   /* line 862, ../Фронтенд/Портфолио/Web-Studio/sass/style.sass */
   .clone-text {
      max-width: 500px;
   }
   /* line 864, ../Фронтенд/Портфолио/Web-Studio/sass/style.sass */
   .clone-text {
      padding: 50px 15px;
   }
   /* line 866, ../Фронтенд/Портфолио/Web-Studio/sass/style.sass */
   .clone {
      height: 100%;
      max-height: 765px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
   }
}

@media (max-width: 650px) {
   /* line 875, ../Фронтенд/Портфолио/Web-Studio/sass/style.sass */
   .trade-in__button {
      cursor: pointer;
      color: white;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      font-weight: bold;
      font-size: 22px;
      text-transform: uppercase;
      width: 280px;
      height: 40px;
      border-radius: 18px;
   }
   /* line 886, ../Фронтенд/Портфолио/Web-Studio/sass/style.sass */
   .development-image {
      width: 450px;
   }
   /* line 888, ../Фронтенд/Портфолио/Web-Studio/sass/style.sass */
   .title__header {
      padding: 0 30px;
      padding-top: 20px;
   }
   /* line 891, ../Фронтенд/Портфолио/Web-Studio/sass/style.sass */
   .title {
      font-size: 25px;
      line-height: 30px;
      letter-spacing: 1px;
   }
   /* line 895, ../Фронтенд/Портфолио/Web-Studio/sass/style.sass */
   .subtitle {
      padding-top: 10px;
      font-size: 18px;
      line-height: 25px;
      text-align: center;
   }
   /* line 901, ../Фронтенд/Портфолио/Web-Studio/sass/style.sass */
   .title-development {
      font-size: 30px;
      line-height: 40px;
      padding-top: 80px;
   }
   /* line 905, ../Фронтенд/Портфолио/Web-Studio/sass/style.sass */
   .subtitle-development {
      padding-top: 10px;
      font-size: 20px;
   }
   /* line 908, ../Фронтенд/Портфолио/Web-Studio/sass/style.sass */
   .projects__title {
      font-size: 22px;
   }
   /* line 910, ../Фронтенд/Портфолио/Web-Studio/sass/style.sass */
   .projects__title p {
      padding-top: 20px;
      padding-bottom: 20px;
   }
   /* line 913, ../Фронтенд/Портфолио/Web-Studio/sass/style.sass */
   .trade-in__title {
      font-size: 40px;
   }
   /* line 915, ../Фронтенд/Портфолио/Web-Studio/sass/style.sass */
   .trade-in-item__title {
      padding-left: 22px;
      font-size: 25px;
   }
   /* line 918, ../Фронтенд/Портфолио/Web-Studio/sass/style.sass */
   .trade-in-item__description {
      padding-top: 20px;
      font-size: 16px;
      line-height: 26px;
      word-spacing: 1px;
   }
   /* line 923, ../Фронтенд/Портфолио/Web-Studio/sass/style.sass */
   .magnify-flex {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
   }
   /* line 927, ../Фронтенд/Портфолио/Web-Studio/sass/style.sass */
   .trade-in-items {
      padding-left: 20px;
      padding-right: 20px;
   }
   /* line 930, ../Фронтенд/Портфолио/Web-Studio/sass/style.sass */
   #name {
      width: 200px;
      height: 30px;
   }
   /* line 933, ../Фронтенд/Портфолио/Web-Studio/sass/style.sass */
   #surname {
      width: 200px;
      height: 30px;
      border-left: none;
   }
   /* line 938, ../Фронтенд/Портфолио/Web-Studio/sass/style.sass */
   #email {
      width: 400px;
      height: 26px;
      border-top: none;
   }
   /* line 943, ../Фронтенд/Портфолио/Web-Studio/sass/style.sass */
   #message {
      width: 400px;
      height: 190px;
      background-color: transparent;
      border: solid 3px white;
      border-top: none;
      resize: none;
      outline: none;
      color: white;
      font-size: 16px;
      padding: 3px 10px;
   }
   /* line 954, ../Фронтенд/Портфолио/Web-Studio/sass/style.sass */
   .about-us__studio {
      font-weight: bold;
      font-size: 35px;
      padding-bottom: 30px;
   }
   /* line 958, ../Фронтенд/Портфолио/Web-Studio/sass/style.sass */
   .feedback-form {
      color: white;
      font-size: 10px;
   }
   /* line 961, ../Фронтенд/Портфолио/Web-Studio/sass/style.sass */
   .feedback-form input {
      outline: none;
      border: solid 3px white;
      background-color: transparent;
      color: white;
      font-size: 16px;
   }
   /* line 968, ../Фронтенд/Портфолио/Web-Studio/sass/style.sass */
   .feedback-form input[type="text"] {
      padding-left: 10px;
   }
   /* line 970, ../Фронтенд/Портфолио/Web-Studio/sass/style.sass */
   .feedback-form input[type="email"] {
      padding-left: 10px;
   }
   /* line 972, ../Фронтенд/Портфолио/Web-Studio/sass/style.sass */
   .form-bottom {
      padding: 10px 0 0 0;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
   }
   /* line 977, ../Фронтенд/Портфолио/Web-Studio/sass/style.sass */
   .input-submit {
      margin-top: 15px;
      font-size: 12px;
      width: 100px;
      height: 30px;
      border-radius: 16px;
      background-color: #f6ae48;
   }
   /* line 984, ../Фронтенд/Портфолио/Web-Studio/sass/style.sass */
   .about-us__text {
      font-size: 20px;
      line-height: 22px;
      word-spacing: 1px;
      margin-top: 30px;
      padding-top: 30px;
      width: 100%;
      max-width: 500px;
      height: 250px;
      padding-right: 0;
      padding-left: 15px;
      background-size: 80%;
   }
   /* line 996, ../Фронтенд/Портфолио/Web-Studio/sass/style.sass */
   .about-us-flex {
      margin-top: 40px;
   }
   /* line 998, ../Фронтенд/Портфолио/Web-Studio/sass/style.sass */
   .about-us {
      display: relative;
      height: 100%;
      max-height: 4000px;
   }
   /* line 1002, ../Фронтенд/Портфолио/Web-Studio/sass/style.sass */
   .projects-button {
      width: 200px;
      height: 50px;
      font-size: 16px;
      border-radius: 18px;
   }
   /* line 1007, ../Фронтенд/Портфолио/Web-Studio/sass/style.sass */
   .about-us__middle {
      margin-top: 20px;
      margin-bottom: 20px;
   }
   /* line 1010, ../Фронтенд/Портфолио/Web-Studio/sass/style.sass */
   .about-us__items {
      margin-top: 40px;
   }
}

@media (max-width: 450px) {
   /* line 1014, ../Фронтенд/Портфолио/Web-Studio/sass/style.sass */
   .trade-in-item {
      -webkit-box-align: start;
      -ms-flex-align: start;
      align-items: start;
   }
   /* line 1016, ../Фронтенд/Портфолио/Web-Studio/sass/style.sass */
   .trade-in-item__top {
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
   }
   /* line 1018, ../Фронтенд/Портфолио/Web-Studio/sass/style.sass */
   .projects-button {
      width: 140px;
      height: 40px;
      font-size: 14px;
      border-radius: 18px;
   }
   /* line 1023, ../Фронтенд/Портфолио/Web-Studio/sass/style.sass */
   .clone-title {
      background-position: center left;
      padding-left: 30px;
      font-size: 20px;
      line-height: 40px;
      text-transform: uppercase;
      font-weight: bold;
      display: block;
   }
   /* line 1031, ../Фронтенд/Портфолио/Web-Studio/sass/style.sass */
   .clone-description {
      font-size: 17px;
      line-height: 22px;
   }
   /* line 1034, ../Фронтенд/Портфолио/Web-Studio/sass/style.sass */
   .title-development {
      font-size: 28px;
      line-height: 40px;
      padding-top: 30px;
   }
   /* line 1038, ../Фронтенд/Портфолио/Web-Studio/sass/style.sass */
   .subtitle-development {
      padding-top: 10px;
      font-size: 18px;
   }
   /* line 1041, ../Фронтенд/Портфолио/Web-Studio/sass/style.sass */
   #name {
      width: 145px;
      height: 20px;
   }
   /* line 1044, ../Фронтенд/Портфолио/Web-Studio/sass/style.sass */
   #surname {
      width: 145px;
      height: 20px;
      border-left: none;
   }
   /* line 1049, ../Фронтенд/Портфолио/Web-Studio/sass/style.sass */
   #email {
      width: 290px;
      height: 16px;
      border-top: none;
   }
   /* line 1054, ../Фронтенд/Портфолио/Web-Studio/sass/style.sass */
   #message {
      width: 290px;
      height: 110px;
      background-color: transparent;
      border: solid 2px white;
      border-top: none;
      resize: none;
      outline: none;
      color: white;
      font-size: 12px;
      padding: 3px 10px;
   }
   /* line 1065, ../Фронтенд/Портфолио/Web-Studio/sass/style.sass */
   .feedback-form {
      padding-right: 0;
      padding-left: 15px;
      font-size: 10px;
   }
   /* line 1069, ../Фронтенд/Портфолио/Web-Studio/sass/style.sass */
   .feedback-form input {
      outline: none;
      border: solid 2px white;
      background-color: transparent;
      color: white;
      font-size: 12px;
   }
   /* line 1075, ../Фронтенд/Портфолио/Web-Studio/sass/style.sass */
   .feedback-form input[type="text"] {
      padding-left: 10px;
   }
   /* line 1077, ../Фронтенд/Портфолио/Web-Studio/sass/style.sass */
   .feedback-form input[type="email"] {
      padding-left: 10px;
   }
   /* line 1079, ../Фронтенд/Портфолио/Web-Studio/sass/style.sass */
   .form-flex {
      padding-top: 40px;
      text-align: center;
      width: 290px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
   }
   /* line 1087, ../Фронтенд/Портфолио/Web-Studio/sass/style.sass */
   .feedback-text__title {
      padding-top: 40px;
      font-size: 20px;
   }
   /* line 1090, ../Фронтенд/Портфолио/Web-Studio/sass/style.sass */
   .feedback-text__description {
      max-width: 360px;
      padding-top: 20px;
      font-size: 14px;
      line-height: 20px;
      word-spacing: 1px;
   }
   /* line 1096, ../Фронтенд/Портфолио/Web-Studio/sass/style.sass */
   .feedback {
      text-align: center;
   }
   /* line 1098, ../Фронтенд/Портфолио/Web-Studio/sass/style.sass */
   .projects__title p {
      font-size: 13px;
   }
   /* line 1100, ../Фронтенд/Портфолио/Web-Studio/sass/style.sass */
   .title__header {
      font-size: 22px;
      line-height: 28px;
      letter-spacing: 0;
   }
   /* line 1104, ../Фронтенд/Портфолио/Web-Studio/sass/style.sass */
   .subtitle__header {
      padding-top: 10px;
      font-size: 15px;
      line-height: 20px;
      padding: 10px 15px;
   }
   /* line 1109, ../Фронтенд/Портфолио/Web-Studio/sass/style.sass */
   .info-stats {
      padding-top: 14px;
   }
   /* line 1111, ../Фронтенд/Портфолио/Web-Studio/sass/style.sass */
   .info-stats__item {
      padding-top: 20px;
   }
   /* line 1113, ../Фронтенд/Портфолио/Web-Studio/sass/style.sass */
   .info-stats__item + .info-stats__item {
      margin-top: 30px;
   }
   /* line 1115, ../Фронтенд/Портфолио/Web-Studio/sass/style.sass */
   .trade-in__button {
      cursor: pointer;
      color: white;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      font-weight: bold;
      font-size: 18px;
      text-transform: uppercase;
      width: 230px;
      height: 35px;
      border-radius: 18px;
   }
   /* line 1126, ../Фронтенд/Портфолио/Web-Studio/sass/style.sass */
   .about-us__items {
      padding: 40px 20px;
      padding-left: 0;
      padding-right: 0;
   }
   /* line 1130, ../Фронтенд/Портфолио/Web-Studio/sass/style.sass */
   .about-us__item {
      max-width: 440px;
      max-height: 500px;
   }
   /* line 1133, ../Фронтенд/Портфолио/Web-Studio/sass/style.sass */
   .development__img img {
      width: 400px;
      height: 320px;
   }
   /* line 1137, ../Фронтенд/Портфолио/Web-Studio/sass/style.sass */
   .development__img div {
      font-size: 45px;
      top: 655px;
   }
   /* line 1141, ../Фронтенд/Портфолио/Web-Studio/sass/style.sass */
   .development-items {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      position: relative;
      z-index: 5;
      margin-top: 205px;
      padding-left: 0;
      padding-right: 0;
   }
   /* line 1149, ../Фронтенд/Портфолио/Web-Studio/sass/style.sass */
   .development-item {
      position: relative;
      text-transform: uppercase;
      font-size: 45px;
      font-weight: 500;
      width: 100%;
      max-width: 300px;
      height: 100%;
      max-height: 350px;
      z-index: 5;
   }
   /* line 1159, ../Фронтенд/Портфолио/Web-Studio/sass/style.sass */
   .development-item__contain {
      padding: 75px 10px 30px 39px;
   }
   /* line 1161, ../Фронтенд/Портфолио/Web-Studio/sass/style.sass */
   .button-arrow {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: baseline;
      -ms-flex-align: baseline;
      align-items: baseline;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between;
      padding-top: 25px;
      padding-bottom: 30px;
   }
   /* line 1167, ../Фронтенд/Портфолио/Web-Studio/sass/style.sass */
   .development-item + .development-item {
      margin: 0;
      margin-top: 15px;
   }
   /* line 1170, ../Фронтенд/Портфолио/Web-Studio/sass/style.sass */
   .development-item__title {
      width: 240px;
      height: 100px;
      font-size: 40px;
      border-bottom: 1px solid #ffffff;
   }
   /* line 1175, ../Фронтенд/Портфолио/Web-Studio/sass/style.sass */
   .button-arrow__development a button {
      font-size: 20px;
      word-spacing: 3px;
      letter-spacing: 1px;
      width: 170px;
      height: 45px;
   }
   /* line 1181, ../Фронтенд/Портфолио/Web-Studio/sass/style.sass */
   .be-first-img {
      margin-top: 20px;
   }
   /* line 1183, ../Фронтенд/Портфолио/Web-Studio/sass/style.sass */
   .clone-title__be-first {
      font-size: 19px;
   }
}

@media (max-width: 335px) {
   /* line 1187, ../Фронтенд/Портфолио/Web-Studio/sass/style.sass */
   .form-flex {
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      padding-right: 15px;
   }
}
