@charset "UTF-8";
/* line 1, ../Фронтенд/Портфолио/Вэб студия/sass/style.sass */
* {
  box-sizing: border-box;
  font-family: 'Noto Sans JP', sans-serif;
  font-weight: 400;
}

/* line 5, ../Фронтенд/Портфолио/Вэб студия/sass/style.sass */
body {
  font-family: 'Noto Sans JP', sans-serif;
  font-weight: 400;
}

/* line 8, ../Фронтенд/Портфолио/Вэб студия/sass/style.sass */
.hidden-menu {
  display: none;
}

/* line 10, ../Фронтенд/Портфолио/Вэб студия/sass/style.sass */
.wrapper {
  max-width: 1275px;
  min-width: 290px;
  position: relative;
  box-sizing: border-box;
  padding: 0 15px;
  margin: 0 auto;
}

/* line 17, ../Фронтенд/Портфолио/Вэб студия/sass/style.sass */
.wrapper-big {
  max-width: 1530px;
  min-width: 320px;
  padding: 0 15px;
  margin: 0 auto;
  position: relative;
  box-sizing: border-box;
}

/* line 24, ../Фронтенд/Портфолио/Вэб студия/sass/style.sass */
header {
  background: url(../images/header.png) center no-repeat;
  min-height: 810px;
  color: #ffffff;
}

/* line 28, ../Фронтенд/Портфолио/Вэб студия/sass/style.sass */
.title {
  font-size: 48px;
  text-transform: uppercase;
  text-align: center;
  line-height: 72px;
  letter-spacing: 3px;
}

/* line 34, ../Фронтенд/Портфолио/Вэб студия/sass/style.sass */
.subtitle {
  font-size: 24px;
  line-height: 36px;
  letter-spacing: 1px;
  text-align: center;
}

/* line 40, ../Фронтенд/Портфолио/Вэб студия/sass/style.sass */
.title__header {
  padding: 0 75px;
  padding-top: 200px;
}

/* line 43, ../Фронтенд/Портфолио/Вэб студия/sass/style.sass */
.subtitle__header {
  margin-top: 10px;
}

/* line 46, ../Фронтенд/Портфолио/Вэб студия/sass/style.sass */
.info-stats {
  padding: 55px 172px 0 180px;
  display: flex;
  justify-content: space-between;
}

/* line 51, ../Фронтенд/Портфолио/Вэб студия/sass/style.sass */
.info-stats__item {
  width: 250px;
  height: 160px;
  border: solid white 2px;
  padding-top: 35px;
}

/* line 57, ../Фронтенд/Портфолио/Вэб студия/sass/style.sass */
.info-stats__inner {
  text-align: center;
}

/* line 59, ../Фронтенд/Портфолио/Вэб студия/sass/style.sass */
.info-stats__nuber {
  line-height: 72px;
  font-size: 48px;
}

/* line 62, ../Фронтенд/Портфолио/Вэб студия/sass/style.sass */
.info-stats__description {
  font-size: 18px;
}

/* line 64, ../Фронтенд/Портфолио/Вэб студия/sass/style.sass */
.first-icon {
  position: absolute;
  left: 90px;
  bottom: 137px;
}

/* line 68, ../Фронтенд/Портфолио/Вэб студия/sass/style.sass */
.second-icon {
  position: absolute;
  left: 93px;
  bottom: 137px;
}

/* line 72, ../Фронтенд/Портфолио/Вэб студия/sass/style.sass */
.third-icon {
  position: absolute;
  left: 90px;
  bottom: 137px;
}

/* line 77, ../Фронтенд/Портфолио/Вэб студия/sass/style.sass */
.info-stats__item {
  padding-top: 35px;
  position: relative;
  width: 220px;
  height: 160px;
  border: solid white;
  border-width: 0 2px 2px 2px;
}

/* line 85, ../Фронтенд/Портфолио/Вэб студия/sass/style.sass */
.info-stats__item:before, .info-stats__item:after {
  content: "";
  position: absolute;
  background: white;
  width: 37%;
  height: 2px;
  top: 0;
}

/* line 93, ../Фронтенд/Портфолио/Вэб студия/sass/style.sass */
.info-stats__item:after {
  right: 0;
}

/* line 96, ../Фронтенд/Портфолио/Вэб студия/sass/style.sass */
.about-us {
  display: relative;
  min-height: 1220px;
}

/* line 100, ../Фронтенд/Портфолио/Вэб студия/sass/style.sass */
.nav-bar {
  position: relative;
}

/* line 102, ../Фронтенд/Портфолио/Вэб студия/sass/style.sass */
.nav-bar__items:after {
  content: '';
  width: 120%;
  height: 1px;
  position: absolute;
  left: -126px;
  bottom: 0;
  background-color: #adadad;
}

/* line 110, ../Фронтенд/Портфолио/Вэб студия/sass/style.sass */
.nav-bar__items {
  display: flex;
  justify-content: flex-end;
}

/* line 113, ../Фронтенд/Портфолио/Вэб студия/sass/style.sass */
li + li {
  padding-left: 40px;
}

/* line 116, ../Фронтенд/Портфолио/Вэб студия/sass/style.sass */
.nav-bar__item a {
  font-size: 30px;
  line-height: 90px;
  outline: none;
}

/* line 120, ../Фронтенд/Портфолио/Вэб студия/sass/style.sass */
.nav-bar__item a:hover {
  color: #f6ae48;
}

/* line 123, ../Фронтенд/Портфолио/Вэб студия/sass/style.sass */
.about-us__middle {
  display: flex;
  justify-content: space-between;
  align-items: center;
  justify-content: baseline;
  margin-top: 128px;
  margin-bottom: 128px;
}

/* line 130, ../Фронтенд/Портфолио/Вэб студия/sass/style.sass */
.about-us__studio {
  font-weight: bold;
  font-size: 48px;
}

/* line 146, ../Фронтенд/Портфолио/Вэб студия/sass/style.sass */
.about-us__text {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #545454;
  font-size: 20px;
  line-height: 26px;
  word-spacing: 1px;
  background-image: url("../images/WE.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: left;
  width: 780px;
  height: 250px;
}

/* line 161, ../Фронтенд/Портфолио/Вэб студия/sass/style.sass */
.about-us__items {
  display: flex;
  padding-bottom: 250px;
}

/* line 164, ../Фронтенд/Портфолио/Вэб студия/sass/style.sass */
.about-us__item {
  max-width: 440px;
  max-height: 360px;
}

/* line 167, ../Фронтенд/Портфолио/Вэб студия/sass/style.sass */
.about-us__item:hover {
  background-color: #f6ae48;
  color: white;
}

/* line 170, ../Фронтенд/Портфолио/Вэб студия/sass/style.sass */
.about-us__item button {
  color: white;
  border: 2px solid white;
  background-color: inherit;
  display: inline-block;
  font-size: 18px;
  width: 131px;
  height: 36px;
}

/* line 178, ../Фронтенд/Портфолио/Вэб студия/sass/style.sass */
.about-us__item button:hover {
  cursor: pointer;
}

/* line 181, ../Фронтенд/Портфолио/Вэб студия/sass/style.sass */
.about-us__item a img:hover {
  cursor: pointer;
}

/* line 184, ../Фронтенд/Портфолио/Вэб студия/sass/style.sass */
.about-us__title {
  font-weight: bold;
  font-size: 20px;
  line-height: 28px;
}

/* line 189, ../Фронтенд/Портфолио/Вэб студия/sass/style.sass */
.button-arrow {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  padding-top: 25px;
}

/* line 195, ../Фронтенд/Портфолио/Вэб студия/sass/style.sass */
.about-us__description {
  line-height: 22px;
  font-size: 16px;
}

/* line 198, ../Фронтенд/Портфолио/Вэб студия/sass/style.sass */
#pl {
  padding: 10px 20px 20px 16px;
}

/* line 201, ../Фронтенд/Портфолио/Вэб студия/sass/style.sass */
.development {
  background: url(../images/about-us-credo.png) top center no-repeat;
  height: 1180px;
  color: white;
}

/* line 205, ../Фронтенд/Портфолио/Вэб студия/sass/style.sass */
.developmen-about-us {
  padding-right: 0;
  height: 565px;
}

/* line 211, ../Фронтенд/Портфолио/Вэб студия/sass/style.sass */
.development__img {
  z-index: 2;
}

/* line 213, ../Фронтенд/Портфолио/Вэб студия/sass/style.sass */
.development__img img {
  position: absolute;
  left: -112px;
  top: 520px;
}

/* line 218, ../Фронтенд/Портфолио/Вэб студия/sass/style.sass */
.development__img div {
  position: absolute;
  font-size: 50px;
  top: 655px;
}

/* line 223, ../Фронтенд/Портфолио/Вэб студия/sass/style.sass */
.title-development {
  font-weight: bold;
  font-size: 50px;
  padding-top: 140px;
  text-transform: uppercase;
}

/* line 229, ../Фронтенд/Портфолио/Вэб студия/sass/style.sass */
.subtitle-development {
  padding-top: 10px;
  font-size: 24px;
}

/* line 233, ../Фронтенд/Портфолио/Вэб студия/sass/style.sass */
.development-items {
  display: flex;
  justify-content: center;
  position: relative;
  z-index: 5;
  margin-top: 205px;
}

/* line 240, ../Фронтенд/Портфолио/Вэб студия/sass/style.sass */
.development-item {
  position: relative;
  text-transform: uppercase;
  font-size: 50px;
  font-weight: 500;
  width: 100%;
  max-width: 366px;
  height: 100%;
  max-height: 315px;
  z-index: 5;
}

/* line 250, ../Фронтенд/Портфолио/Вэб студия/sass/style.sass */
.development-item__contain {
  padding: 75px 40px 30px 39px;
}

/* line 253, ../Фронтенд/Портфолио/Вэб студия/sass/style.sass */
.development-item + .development-item {
  margin-left: 17px;
}

/* line 255, ../Фронтенд/Портфолио/Вэб студия/sass/style.sass */
.landing-page {
  background: url(../images/landing-page.png) center no-repeat;
  background-size: contain;
}

/* line 259, ../Фронтенд/Портфолио/Вэб студия/sass/style.sass */
.web-site {
  background: url(../images/web-site.png) center no-repeat;
  background-size: contain;
}

/* line 263, ../Фронтенд/Портфолио/Вэб студия/sass/style.sass */
.online-store {
  background: url(../images/online-store.png) center no-repeat;
  background-size: contain;
}

/* line 267, ../Фронтенд/Портфолио/Вэб студия/sass/style.sass */
.development-item__title {
  width: 260px;
  height: 110px;
  border-bottom: 1px solid #ffffff;
}

/* line 272, ../Фронтенд/Портфолио/Вэб студия/sass/style.sass */
.button-arrow__development img {
  cursor: pointer;
}

/* line 274, ../Фронтенд/Портфолио/Вэб студия/sass/style.sass */
.button-arrow__development a button {
  background-color: Transparent;
  background-repeat: no-repeat;
  color: white;
  cursor: pointer;
  font-size: 24px;
  word-spacing: 5px;
  letter-spacing: 1px;
  width: 199px;
  height: 54px;
}

/* line 285, ../Фронтенд/Портфолио/Вэб студия/sass/style.sass */
.blue {
  border: solid 2px blue;
}

/* line 287, ../Фронтенд/Портфолио/Вэб студия/sass/style.sass */
.yellow {
  border: solid 2px yellow;
}

/* line 289, ../Фронтенд/Портфолио/Вэб студия/sass/style.sass */
.green {
  border: solid 2px green;
}

/* line 292, ../Фронтенд/Портфолио/Вэб студия/sass/style.sass */
.be-first {
  height: 670px;
}

/* line 294, ../Фронтенд/Портфолио/Вэб студия/sass/style.sass */
.clone-title__be-first {
  background: url(../images/be-the-first.png) bottom left no-repeat;
  background-size: contain;
}

/* line 297, ../Фронтенд/Портфолио/Вэб студия/sass/style.sass */
.be-first-text {
  padding-top: 120px;
}

/* line 300, ../Фронтенд/Портфолио/Вэб студия/sass/style.sass */
.be-first-img {
  padding-left: 20px;
  margin-top: 90px;
  display: flex;
  flex-direction: column;
}

/* line 306, ../Фронтенд/Портфолио/Вэб студия/sass/style.sass */
.be-first-img__img {
  display: inline-block;
  margin-top: 40px;
}

/* line 310, ../Фронтенд/Портфолио/Вэб студия/sass/style.sass */
.be-first__flex {
  margin-right: 218px;
  display: flex;
  justify-content: space-between;
}

/* line 315, ../Фронтенд/Портфолио/Вэб студия/sass/style.sass */
#be-the-first {
  text-transform: uppercase;
  z-index: -1;
  position: absolute;
  left: 13px;
  color: #dedede;
  font-size: 80px;
  font-weight: bold;
}

/* line 324, ../Фронтенд/Портфолио/Вэб студия/sass/style.sass */
.projects {
  background-color: #303263;
  width: 100%;
  max-height: 987px;
  max-width: 1500px;
  position: relative;
  box-sizing: border-box;
  padding: 0 15px;
  margin: 0 auto;
}

/* line 341, ../Фронтенд/Портфолио/Вэб студия/sass/style.sass */
.projects__title {
  position: relative;
  height: 100%;
  max-height: 117px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 36px;
  text-transform: uppercase;
}

/* line 352, ../Фронтенд/Портфолио/Вэб студия/sass/style.sass */
.projects__title p {
  background-image: url("../images/OUR-PROJECTS.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 56%;
  height: 80%;
  padding: 15px 0;
}

/* line 365, ../Фронтенд/Портфолио/Вэб студия/sass/style.sass */
.projects-imgs__first {
  display: flex;
}

/* line 368, ../Фронтенд/Портфолио/Вэб студия/sass/style.sass */
#PC {
  width: 51%;
}

/* line 370, ../Фронтенд/Портфолио/Вэб студия/sass/style.sass */
#cons {
  width: 49%;
}

/* line 373, ../Фронтенд/Портфолио/Вэб студия/sass/style.sass */
.projects-imgs__second {
  display: flex;
}

/* line 376, ../Фронтенд/Портфолио/Вэб студия/sass/style.sass */
.projects-imgs__second img {
  width: 25%;
}

/* line 379, ../Фронтенд/Портфолио/Вэб студия/sass/style.sass */
.projects-bottom {
  height: 100%;
  max-height: 117px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* line 385, ../Фронтенд/Портфолио/Вэб студия/sass/style.sass */
.projects-button {
  margin-top: 20px;
  margin-bottom: 20px;
  width: 240px;
  height: 66px;
  background-color: #6a6b8e;
  font-size: 20px;
  text-transform: uppercase;
  color: white;
  font-weight: bold;
  border: none;
  border-radius: 16px;
  cursor: pointer;
}

/* line 399, ../Фронтенд/Портфолио/Вэб студия/sass/style.sass */
.clone {
  width: 100%;
  max-width: 1500px;
  margin: 0 auto;
  display: flex;
  justify-content: start;
  align-items: center;
}

/* line 406, ../Фронтенд/Портфолио/Вэб студия/sass/style.sass */
.clone-adaptate {
  height: 765px;
  background: url(../images/outline.png) no-repeat;
  background-position: 843px 165px;
}

/* line 410, ../Фронтенд/Портфолио/Вэб студия/sass/style.sass */
.adaptate-text {
  padding-left: 10%;
  padding-top: 7%;
}

/* line 415, ../Фронтенд/Портфолио/Вэб студия/sass/style.sass */
.clone-title {
  padding-left: 50px;
  font-size: 36px;
  line-height: 64px;
  text-transform: uppercase;
  font-weight: bold;
  display: block;
}

/* line 422, ../Фронтенд/Портфолио/Вэб студия/sass/style.sass */
.clone-title__adaptate {
  background: url(../images/ADAPTATE.png) bottom left no-repeat;
  background-size: contain;
}

/* line 425, ../Фронтенд/Портфолио/Вэб студия/sass/style.sass */
.clone-description {
  max-width: 608px;
  padding-left: 50px;
  font-size: 24px;
  line-height: 40px;
  letter-spacing: 1px;
  word-spacing: 2px;
}

/* line 433, ../Фронтенд/Портфолио/Вэб студия/sass/style.sass */
.trade-in {
  color: white;
  margin: 0 auto;
  padding-left: 94px;
  width: 100%;
  max-width: 1500px;
  height: 675px;
  background-color: #303263;
}

/* line 442, ../Фронтенд/Портфолио/Вэб студия/sass/style.sass */
.trade-in__title {
  text-align: center;
  padding: 60px 0 75px 0;
  text-transform: uppercase;
  font-size: 48px;
  font-weight: bold;
}

/* line 448, ../Фронтенд/Портфолио/Вэб студия/sass/style.sass */
.trade-in-items {
  display: flex;
  padding-right: 0;
}

/* line 453, ../Фронтенд/Портфолио/Вэб студия/sass/style.sass */
.trade-in-item + .trade-in-item {
  padding-left: 40px;
}

/* line 456, ../Фронтенд/Портфолио/Вэб студия/sass/style.sass */
.trade-in-item__top {
  display: flex;
  flex-direction: row;
}

/* line 461, ../Фронтенд/Портфолио/Вэб студия/sass/style.sass */
.trade-in-item__title {
  padding-left: 22px;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 30px;
}

/* line 467, ../Фронтенд/Портфолио/Вэб студия/sass/style.sass */
.trade-in-item__description {
  padding-top: 28px;
  font-size: 18px;
  line-height: 30px;
  word-spacing: 3px;
}

/* line 473, ../Фронтенд/Портфолио/Вэб студия/sass/style.sass */
.magnify-descr {
  padding: 8px 0 0 40px;
}

/* line 477, ../Фронтенд/Портфолио/Вэб студия/sass/style.sass */
.button-padding {
  padding-top: 20px;
  text-align: center;
}

/* line 480, ../Фронтенд/Портфолио/Вэб студия/sass/style.sass */
.trade-in__button {
  cursor: pointer;
  color: white;
  align-items: center;
  font-weight: bold;
  font-size: 24px;
  text-transform: uppercase;
  width: 330px;
  height: 54px;
  border-radius: 18px;
  border: none;
  background-color: #f6ae48;
}

/* line 493, ../Фронтенд/Портфолио/Вэб студия/sass/style.sass */
.clone-be-careful {
  height: 758px;
  background: url(../images/be-careful.png) no-repeat;
  background-position: 890px 55px;
}

/* line 497, ../Фронтенд/Портфолио/Вэб студия/sass/style.sass */
.clone-title__be-careful {
  background: url(../images/be-careful__text.png) bottom left no-repeat;
  background-size: contain;
}

/* line 500, ../Фронтенд/Портфолио/Вэб студия/sass/style.sass */
.text-careful {
  padding-bottom: 120px;
  padding-left: 10%;
}

/* line 503, ../Фронтенд/Портфолио/Вэб студия/sass/style.sass */
.feedback {
  max-width: 1500px;
  height: 675px;
  margin: 0 auto;
  background-color: #f6ae48;
  background: url(../images/feedback.png) center top no-repeat;
  display: flex;
  flex-direction: row;
}

/* line 512, ../Фронтенд/Портфолио/Вэб студия/sass/style.sass */
.feedback-form {
  color: white;
  font-size: 18px;
}

/* line 515, ../Фронтенд/Портфолио/Вэб студия/sass/style.sass */
.feedback-form input {
  outline: none;
  border: solid 4px white;
  background-color: transparent;
  color: white;
  font-size: 18px;
}

/* line 522, ../Фронтенд/Портфолио/Вэб студия/sass/style.sass */
.feedback-form input[type="text"] {
  padding-left: 20px;
}

/* line 524, ../Фронтенд/Портфолио/Вэб студия/sass/style.sass */
.feedback-form input[type="email"] {
  padding-left: 20px;
}

/* line 527, ../Фронтенд/Портфолио/Вэб студия/sass/style.sass */
input::placeholder {
  color: white;
}

/* line 529, ../Фронтенд/Портфолио/Вэб студия/sass/style.sass */
textarea::placeholder {
  color: white;
}

/* line 531, ../Фронтенд/Портфолио/Вэб студия/sass/style.sass */
#name {
  width: 309px;
  height: 50px;
}

/* line 534, ../Фронтенд/Портфолио/Вэб студия/sass/style.sass */
#surname {
  width: 305px;
  height: 50px;
  border-left: none;
}

/* line 539, ../Фронтенд/Портфолио/Вэб студия/sass/style.sass */
#email {
  width: 614px;
  height: 46px;
  border-top: none;
}

/* line 544, ../Фронтенд/Портфолио/Вэб студия/sass/style.sass */
#message {
  width: 614px;
  height: 167px;
  background-color: transparent;
  border: solid 4px white;
  border-top: none;
  resize: none;
  outline: none;
  color: white;
  font-size: 18px;
  padding: 5px 20px;
}

/* line 556, ../Фронтенд/Портфолио/Вэб студия/sass/style.sass */
.feedback-text {
  color: white;
}

/* line 559, ../Фронтенд/Портфолио/Вэб студия/sass/style.sass */
.feedback-text__title {
  font-weight: bold;
  text-transform: uppercase;
  font-size: 30px;
}

/* line 563, ../Фронтенд/Портфолио/Вэб студия/sass/style.sass */
.feedback-text__description {
  max-width: 360px;
  padding-top: 55px;
  font-size: 18px;
  line-height: 25px;
  word-spacing: 2px;
}

/* line 570, ../Фронтенд/Портфолио/Вэб студия/sass/style.sass */
.feedback-flex {
  display: flex;
  justify-content: space-between;
  padding: 126px 25px 0 50px;
}

/* line 574, ../Фронтенд/Портфолио/Вэб студия/sass/style.sass */
.form-text {
  font-size: 14px;
}

/* line 576, ../Фронтенд/Портфолио/Вэб студия/sass/style.sass */
.input-submit {
  cursor: pointer;
  color: white;
  font-weight: bold;
  font-size: 14px;
  text-transform: uppercase;
  width: 143px;
  height: 44px;
  border: none;
  border-radius: 16px;
  background-color: #f6ae48;
}

/* line 587, ../Фронтенд/Портфолио/Вэб студия/sass/style.sass */
.form-bottom {
  padding-top: 14px;
  padding-left: 23px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

@media (max-width: 1507px) {
  /* line 595, ../Фронтенд/Портфолио/Вэб студия/sass/style.sass */
  .nav-bar__items:after {
    width: 125%;
    left: -20%;
  }
}

@media (max-width: 1400px) {
  /* line 600, ../Фронтенд/Портфолио/Вэб студия/sass/style.sass */
  .nav-bar__items:after {
    width: 120%;
    left: -20%;
  }
  /* line 603, ../Фронтенд/Портфолио/Вэб студия/sass/style.sass */
  .trade-in {
    height: 100%;
    max-height: 1500px;
    padding-left: 15px;
  }
  /* line 607, ../Фронтенд/Портфолио/Вэб студия/sass/style.sass */
  .trade-in__title {
    padding: 30px 0 30px 0;
  }
  /* line 609, ../Фронтенд/Портфолио/Вэб студия/sass/style.sass */
  .button-padding {
    padding-top: 30px;
    padding-bottom: 30px;
  }
}

@media (max-width: 1200px) {
  /* line 614, ../Фронтенд/Портфолио/Вэб студия/sass/style.sass */
  .info-stats {
    padding-left: 50px;
    padding-right: 50px;
  }
  /* line 617, ../Фронтенд/Портфолио/Вэб студия/sass/style.sass */
  .be-first__flex {
    margin-right: 20px;
  }
}

@media (max-width: 1070px) {
  /* line 621, ../Фронтенд/Портфолио/Вэб студия/sass/style.sass */
  .title {
    font-size: 40px;
    line-height: 65px;
    letter-spacing: 2px;
  }
  /* line 625, ../Фронтенд/Портфолио/Вэб студия/sass/style.sass */
  .title__header {
    padding: 0 50px;
    padding-top: 100px;
  }
  /* line 628, ../Фронтенд/Портфолио/Вэб студия/sass/style.sass */
  .subtitle {
    padding-top: 40px;
    font-size: 22px;
    line-height: 32px;
    letter-spacing: 1px;
    text-align: center;
  }
  /* line 634, ../Фронтенд/Портфолио/Вэб студия/sass/style.sass */
  .info-stats {
    padding: 100px 30px 0 30px;
    display: flex;
    justify-content: space-between;
  }
  /* line 638, ../Фронтенд/Портфолио/Вэб студия/sass/style.sass */
  .about-us {
    height: 100%;
    max-height: 3500px;
  }
  /* line 641, ../Фронтенд/Портфолио/Вэб студия/sass/style.sass */
  .about-us__middle {
    flex-direction: column;
    justify-content: start;
    padding-bottom: 0;
    margin-top: 60px;
    margin-bottom: 60px;
  }
  /* line 648, ../Фронтенд/Портфолио/Вэб студия/sass/style.sass */
  .about-us__text {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #545454;
    font-size: 20px;
    line-height: 26px;
    word-spacing: 1px;
    background-image: url("../images/WE.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: left;
    margin-top: 60px;
    width: 100%;
    max-width: 500px;
    height: 200px;
  }
  /* line 664, ../Фронтенд/Портфолио/Вэб студия/sass/style.sass */
  .about-us__items {
    flex-direction: column;
    padding: 40px 0;
  }
  /* line 667, ../Фронтенд/Портфолио/Вэб студия/sass/style.sass */
  .about-us-flex {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  /* line 672, ../Фронтенд/Портфолио/Вэб студия/sass/style.sass */
  .feedback-flex {
    padding: 126px 25px 0 20px;
  }
  /* line 674, ../Фронтенд/Портфолио/Вэб студия/sass/style.sass */
  .development {
    height: 100%;
    max-height: 3000px;
  }
  /* line 677, ../Фронтенд/Портфолио/Вэб студия/sass/style.sass */
  .development-items {
    flex-direction: column;
    align-items: center;
    padding-bottom: 40px;
  }
  /* line 682, ../Фронтенд/Портфолио/Вэб студия/sass/style.sass */
  .development-item + .development-item {
    margin: 0;
    margin-top: 60px;
  }
  /* line 685, ../Фронтенд/Портфолио/Вэб студия/sass/style.sass */
  .feedback-flex {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px 15px 0 15px;
  }
  /* line 690, ../Фронтенд/Портфолио/Вэб студия/sass/style.sass */
  .feedback-text__description {
    padding-top: 10px;
  }
  /* line 692, ../Фронтенд/Портфолио/Вэб студия/sass/style.sass */
  .form-flex {
    padding-top: 20px;
  }
}

@media (max-width: 985px) {
  /* line 695, ../Фронтенд/Портфолио/Вэб студия/sass/style.sass */
  .trade-in {
    display: flex;
    flex-direction: column;
  }
  /* line 698, ../Фронтенд/Портфолио/Вэб студия/sass/style.sass */
  .trade-in-items {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left: 15px;
  }
  /* line 703, ../Фронтенд/Портфолио/Вэб студия/sass/style.sass */
  .item-magnify {
    align-self: center;
  }
  /* line 705, ../Фронтенд/Портфолио/Вэб студия/sass/style.sass */
  .item-pc {
    align-self: center;
  }
  /* line 707, ../Фронтенд/Портфолио/Вэб студия/sass/style.sass */
  .trade-in-item + .trade-in-item {
    padding: 30px 0 0 0;
  }
  /* line 709, ../Фронтенд/Портфолио/Вэб студия/sass/style.sass */
  .trade-in-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 500px;
  }
  /* line 715, ../Фронтенд/Портфолио/Вэб студия/sass/style.sass */
  .magnify-descr {
    padding: 8px 0 0 0;
  }
}

@media (max-width: 850px) {
  /* line 720, ../Фронтенд/Портфолио/Вэб студия/sass/style.sass */
  .info-stats {
    padding-top: 40px;
    padding-bottom: 30px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  /* line 727, ../Фронтенд/Портфолио/Вэб студия/sass/style.sass */
  .info-stats__inner {
    text-align: center;
  }
  /* line 729, ../Фронтенд/Портфолио/Вэб студия/sass/style.sass */
  .info-stats__nuber {
    line-height: 62px;
    font-size: 38px;
  }
  /* line 732, ../Фронтенд/Портфолио/Вэб студия/sass/style.sass */
  .info-stats__description {
    font-size: 16px;
  }
  /* line 734, ../Фронтенд/Портфолио/Вэб студия/sass/style.sass */
  .first-icon {
    position: absolute;
    left: 75px;
    bottom: 108px;
  }
  /* line 738, ../Фронтенд/Портфолио/Вэб студия/sass/style.sass */
  .second-icon {
    position: absolute;
    left: 77px;
    bottom: 104px;
  }
  /* line 742, ../Фронтенд/Портфолио/Вэб студия/sass/style.sass */
  .third-icon {
    position: absolute;
    left: 73px;
    bottom: 104px;
  }
  /* line 747, ../Фронтенд/Портфолио/Вэб студия/sass/style.sass */
  .info-stats__item {
    position: relative;
    width: 220px;
    height: 160px;
    border: solid white 2px;
    border-width: 0 2px 2px 2px;
    width: 190px;
    height: 130px;
    padding-top: 35px;
  }
  /* line 757, ../Фронтенд/Портфолио/Вэб студия/sass/style.sass */
  .info-stats__item:before, .info-stats__item:after {
    content: "";
    position: absolute;
    background: white;
    width: 37%;
    height: 2px;
    top: 0;
  }
  /* line 765, ../Фронтенд/Портфолио/Вэб студия/sass/style.sass */
  .info-stats__item:after {
    right: 0;
  }
  /* line 768, ../Фронтенд/Портфолио/Вэб студия/sass/style.sass */
  .title__header {
    padding: 0 30px;
    padding-top: 20px;
  }
  /* line 771, ../Фронтенд/Портфолио/Вэб студия/sass/style.sass */
  .title {
    font-size: 32px;
    line-height: 50px;
    letter-spacing: 1px;
  }
  /* line 775, ../Фронтенд/Портфолио/Вэб студия/sass/style.sass */
  .subtitle {
    padding-top: 10px;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 1px;
    text-align: center;
  }
  /* line 782, ../Фронтенд/Портфолио/Вэб студия/sass/style.sass */
  .info-stats__item + .info-stats__item {
    margin-top: 50px;
  }
  /* line 785, ../Фронтенд/Портфолио/Вэб студия/sass/style.sass */
  .nav-bar__item {
    display: none;
  }
  /* line 787, ../Фронтенд/Портфолио/Вэб студия/sass/style.sass */
  .hidden-menu {
    display: inline-block;
    float: left;
  }
  /* line 790, ../Фронтенд/Портфолио/Вэб студия/sass/style.sass */
  .be-first {
    height: 100%;
    max-height: 1500px;
  }
  /* line 793, ../Фронтенд/Портфолио/Вэб студия/sass/style.sass */
  .be-first__flex {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 30px;
  }
  /* line 799, ../Фронтенд/Портфолио/Вэб студия/sass/style.sass */
  .clone-title {
    padding-left: 30px;
    font-size: 30px;
    line-height: 55px;
    text-transform: uppercase;
    font-weight: bold;
    display: block;
  }
  /* line 806, ../Фронтенд/Портфолио/Вэб студия/sass/style.sass */
  .clone-description {
    max-width: 608px;
    padding-left: 30px;
    font-size: 20px;
    line-height: 30px;
  }
  /* line 812, ../Фронтенд/Портфолио/Вэб студия/sass/style.sass */
  .clone-text {
    max-width: 500px;
  }
  /* line 814, ../Фронтенд/Портфолио/Вэб студия/sass/style.sass */
  .clone-text {
    padding: 50px 15px;
  }
  /* line 816, ../Фронтенд/Портфолио/Вэб студия/sass/style.sass */
  .clone {
    height: 100%;
    max-height: 765px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

@media (max-width: 650px) {
  /* line 824, ../Фронтенд/Портфолио/Вэб студия/sass/style.sass */
  .trade-in__button {
    cursor: pointer;
    color: white;
    align-items: center;
    font-weight: bold;
    font-size: 22px;
    text-transform: uppercase;
    width: 280px;
    height: 40px;
    border-radius: 18px;
  }
  /* line 835, ../Фронтенд/Портфолио/Вэб студия/sass/style.sass */
  .development-image {
    width: 450px;
  }
  /* line 837, ../Фронтенд/Портфолио/Вэб студия/sass/style.sass */
  .title__header {
    padding: 0 30px;
    padding-top: 20px;
  }
  /* line 840, ../Фронтенд/Портфолио/Вэб студия/sass/style.sass */
  .title {
    font-size: 25px;
    line-height: 30px;
    letter-spacing: 1px;
  }
  /* line 844, ../Фронтенд/Портфолио/Вэб студия/sass/style.sass */
  .subtitle {
    padding-top: 10px;
    font-size: 18px;
    line-height: 25px;
    text-align: center;
  }
  /* line 850, ../Фронтенд/Портфолио/Вэб студия/sass/style.sass */
  .title-development {
    font-size: 30px;
    line-height: 40px;
    padding-top: 80px;
  }
  /* line 854, ../Фронтенд/Портфолио/Вэб студия/sass/style.sass */
  .subtitle-development {
    padding-top: 10px;
    font-size: 20px;
  }
  /* line 857, ../Фронтенд/Портфолио/Вэб студия/sass/style.sass */
  .projects__title {
    font-size: 22px;
  }
  /* line 859, ../Фронтенд/Портфолио/Вэб студия/sass/style.sass */
  .projects__title p {
    padding-top: 20px;
    padding-bottom: 20px;
  }
  /* line 862, ../Фронтенд/Портфолио/Вэб студия/sass/style.sass */
  .trade-in__title {
    font-size: 40px;
  }
  /* line 864, ../Фронтенд/Портфолио/Вэб студия/sass/style.sass */
  .trade-in-item__title {
    padding-left: 22px;
    font-size: 25px;
  }
  /* line 867, ../Фронтенд/Портфолио/Вэб студия/sass/style.sass */
  .trade-in-item__description {
    padding-top: 20px;
    font-size: 16px;
    line-height: 26px;
    word-spacing: 1px;
  }
  /* line 872, ../Фронтенд/Портфолио/Вэб студия/sass/style.sass */
  .magnify-flex {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  /* line 876, ../Фронтенд/Портфолио/Вэб студия/sass/style.sass */
  .trade-in-items {
    padding-left: 20px;
    padding-right: 20px;
  }
  /* line 879, ../Фронтенд/Портфолио/Вэб студия/sass/style.sass */
  #name {
    width: 200px;
    height: 30px;
  }
  /* line 882, ../Фронтенд/Портфолио/Вэб студия/sass/style.sass */
  #surname {
    width: 200px;
    height: 30px;
    border-left: none;
  }
  /* line 887, ../Фронтенд/Портфолио/Вэб студия/sass/style.sass */
  #email {
    width: 400px;
    height: 26px;
    border-top: none;
  }
  /* line 892, ../Фронтенд/Портфолио/Вэб студия/sass/style.sass */
  #message {
    width: 400px;
    height: 190px;
    background-color: transparent;
    border: solid 3px white;
    border-top: none;
    resize: none;
    outline: none;
    color: white;
    font-size: 16px;
    padding: 3px 10px;
  }
  /* line 903, ../Фронтенд/Портфолио/Вэб студия/sass/style.sass */
  .about-us__studio {
    font-weight: bold;
    font-size: 35px;
    padding-bottom: 30px;
  }
  /* line 907, ../Фронтенд/Портфолио/Вэб студия/sass/style.sass */
  .feedback-form {
    color: white;
    font-size: 10px;
  }
  /* line 910, ../Фронтенд/Портфолио/Вэб студия/sass/style.sass */
  .feedback-form input {
    outline: none;
    border: solid 3px white;
    background-color: transparent;
    color: white;
    font-size: 16px;
  }
  /* line 917, ../Фронтенд/Портфолио/Вэб студия/sass/style.sass */
  .feedback-form input[type="text"] {
    padding-left: 10px;
  }
  /* line 919, ../Фронтенд/Портфолио/Вэб студия/sass/style.sass */
  .feedback-form input[type="email"] {
    padding-left: 10px;
  }
  /* line 921, ../Фронтенд/Портфолио/Вэб студия/sass/style.sass */
  .form-bottom {
    padding: 10px 0 0 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  /* line 926, ../Фронтенд/Портфолио/Вэб студия/sass/style.sass */
  .input-submit {
    margin-top: 15px;
    font-size: 12px;
    width: 100px;
    height: 30px;
    border-radius: 16px;
    background-color: #f6ae48;
  }
  /* line 933, ../Фронтенд/Портфолио/Вэб студия/sass/style.sass */
  .about-us__text {
    font-size: 20px;
    line-height: 22px;
    word-spacing: 1px;
    margin-top: 30px;
    padding-top: 30px;
    width: 100%;
    max-width: 500px;
    height: 250px;
    padding-right: 0;
    padding-left: 15px;
    background-size: 80%;
  }
  /* line 945, ../Фронтенд/Портфолио/Вэб студия/sass/style.sass */
  .about-us-flex {
    margin-top: 40px;
  }
  /* line 947, ../Фронтенд/Портфолио/Вэб студия/sass/style.sass */
  .about-us {
    display: relative;
    height: 100%;
    max-height: 4000px;
  }
  /* line 951, ../Фронтенд/Портфолио/Вэб студия/sass/style.sass */
  .projects-button {
    width: 200px;
    height: 50px;
    font-size: 16px;
    border-radius: 18px;
  }
  /* line 956, ../Фронтенд/Портфолио/Вэб студия/sass/style.sass */
  .about-us__middle {
    margin-top: 20px;
    margin-bottom: 20px;
  }
  /* line 959, ../Фронтенд/Портфолио/Вэб студия/sass/style.sass */
  .about-us__items {
    margin-top: 40px;
  }
}

@media (max-width: 450px) {
  /* line 962, ../Фронтенд/Портфолио/Вэб студия/sass/style.sass */
  .projects-button {
    width: 140px;
    height: 40px;
    font-size: 14px;
    border-radius: 18px;
  }
  /* line 967, ../Фронтенд/Портфолио/Вэб студия/sass/style.sass */
  .clone-title {
    background-position: center left;
    padding-left: 30px;
    font-size: 20px;
    line-height: 40px;
    text-transform: uppercase;
    font-weight: bold;
    display: block;
  }
  /* line 975, ../Фронтенд/Портфолио/Вэб студия/sass/style.sass */
  .clone-description {
    font-size: 17px;
    line-height: 22px;
  }
  /* line 978, ../Фронтенд/Портфолио/Вэб студия/sass/style.sass */
  .title-development {
    font-size: 28px;
    line-height: 40px;
    padding-top: 30px;
  }
  /* line 982, ../Фронтенд/Портфолио/Вэб студия/sass/style.sass */
  .subtitle-development {
    padding-top: 10px;
    font-size: 18px;
  }
  /* line 985, ../Фронтенд/Портфолио/Вэб студия/sass/style.sass */
  #name {
    width: 145px;
    height: 20px;
  }
  /* line 988, ../Фронтенд/Портфолио/Вэб студия/sass/style.sass */
  #surname {
    width: 145px;
    height: 20px;
    border-left: none;
  }
  /* line 993, ../Фронтенд/Портфолио/Вэб студия/sass/style.sass */
  #email {
    width: 290px;
    height: 16px;
    border-top: none;
  }
  /* line 998, ../Фронтенд/Портфолио/Вэб студия/sass/style.sass */
  #message {
    width: 290px;
    height: 110px;
    background-color: transparent;
    border: solid 2px white;
    border-top: none;
    resize: none;
    outline: none;
    color: white;
    font-size: 12px;
    padding: 3px 10px;
  }
  /* line 1009, ../Фронтенд/Портфолио/Вэб студия/sass/style.sass */
  .feedback-form {
    padding-right: 0;
    padding-left: 15px;
    font-size: 10px;
  }
  /* line 1013, ../Фронтенд/Портфолио/Вэб студия/sass/style.sass */
  .feedback-form input {
    outline: none;
    border: solid 2px white;
    background-color: transparent;
    color: white;
    font-size: 12px;
  }
  /* line 1019, ../Фронтенд/Портфолио/Вэб студия/sass/style.sass */
  .feedback-form input[type="text"] {
    padding-left: 10px;
  }
  /* line 1021, ../Фронтенд/Портфолио/Вэб студия/sass/style.sass */
  .feedback-form input[type="email"] {
    padding-left: 10px;
  }
  /* line 1023, ../Фронтенд/Портфолио/Вэб студия/sass/style.sass */
  .form-flex {
    padding-top: 40px;
    text-align: center;
    width: 290px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  /* line 1031, ../Фронтенд/Портфолио/Вэб студия/sass/style.sass */
  .feedback-text__title {
    padding-top: 40px;
    font-size: 20px;
  }
  /* line 1034, ../Фронтенд/Портфолио/Вэб студия/sass/style.sass */
  .feedback-text__description {
    max-width: 360px;
    padding-top: 20px;
    font-size: 14px;
    line-height: 20px;
    word-spacing: 1px;
  }
  /* line 1040, ../Фронтенд/Портфолио/Вэб студия/sass/style.sass */
  .feedback {
    text-align: center;
  }
  /* line 1042, ../Фронтенд/Портфолио/Вэб студия/sass/style.sass */
  .projects__title p {
    font-size: 13px;
  }
  /* line 1044, ../Фронтенд/Портфолио/Вэб студия/sass/style.sass */
  .title__header {
    font-size: 22px;
    line-height: 28px;
    letter-spacing: 0;
  }
  /* line 1048, ../Фронтенд/Портфолио/Вэб студия/sass/style.sass */
  .subtitle__header {
    padding-top: 10px;
    font-size: 15px;
    line-height: 20px;
    padding: 10px 15px;
  }
  /* line 1053, ../Фронтенд/Портфолио/Вэб студия/sass/style.sass */
  .info-stats {
    padding-top: 14px;
  }
  /* line 1055, ../Фронтенд/Портфолио/Вэб студия/sass/style.sass */
  .info-stats__item {
    padding-top: 20px;
  }
  /* line 1057, ../Фронтенд/Портфолио/Вэб студия/sass/style.sass */
  .info-stats__item + .info-stats__item {
    margin-top: 30px;
  }
  /* line 1059, ../Фронтенд/Портфолио/Вэб студия/sass/style.sass */
  .trade-in__button {
    cursor: pointer;
    color: white;
    align-items: center;
    font-weight: bold;
    font-size: 18px;
    text-transform: uppercase;
    width: 230px;
    height: 35px;
    border-radius: 18px;
  }
  /* line 1070, ../Фронтенд/Портфолио/Вэб студия/sass/style.sass */
  .about-us__items {
    padding: 40px 20px;
    padding-left: 0;
    padding-right: 0;
  }
  /* line 1074, ../Фронтенд/Портфолио/Вэб студия/sass/style.sass */
  .about-us__item {
    max-width: 440px;
    max-height: 500px;
  }
  /* line 1077, ../Фронтенд/Портфолио/Вэб студия/sass/style.sass */
  .development__img img {
    width: 400px;
    height: 320px;
  }
  /* line 1081, ../Фронтенд/Портфолио/Вэб студия/sass/style.sass */
  .development__img div {
    font-size: 45px;
    top: 655px;
  }
  /* line 1085, ../Фронтенд/Портфолио/Вэб студия/sass/style.sass */
  .development-items {
    display: flex;
    justify-content: center;
    position: relative;
    z-index: 5;
    margin-top: 205px;
    padding-left: 0;
    padding-right: 0;
  }
  /* line 1093, ../Фронтенд/Портфолио/Вэб студия/sass/style.sass */
  .development-item {
    position: relative;
    text-transform: uppercase;
    font-size: 45px;
    font-weight: 500;
    width: 100%;
    max-width: 300px;
    height: 100%;
    max-height: 350px;
    z-index: 5;
  }
  /* line 1103, ../Фронтенд/Портфолио/Вэб студия/sass/style.sass */
  .development-item__contain {
    padding: 75px 10px 30px 39px;
  }
  /* line 1105, ../Фронтенд/Портфолио/Вэб студия/sass/style.sass */
  .button-arrow {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    padding-top: 25px;
    padding-bottom: 30px;
  }
  /* line 1111, ../Фронтенд/Портфолио/Вэб студия/sass/style.sass */
  .development-item + .development-item {
    margin: 0;
    margin-top: 15px;
  }
  /* line 1114, ../Фронтенд/Портфолио/Вэб студия/sass/style.sass */
  .development-item__title {
    width: 240px;
    height: 100px;
    font-size: 40px;
    border-bottom: 1px solid #ffffff;
  }
  /* line 1119, ../Фронтенд/Портфолио/Вэб студия/sass/style.sass */
  .button-arrow__development a button {
    font-size: 20px;
    word-spacing: 3px;
    letter-spacing: 1px;
    width: 170px;
    height: 45px;
  }
  /* line 1125, ../Фронтенд/Портфолио/Вэб студия/sass/style.sass */
  .be-first-img {
    margin-top: 20px;
  }
  /* line 1127, ../Фронтенд/Портфолио/Вэб студия/sass/style.sass */
  .clone-title__be-first {
    font-size: 19px;
  }
}

@media (max-width: 335px) {
  /* line 1131, ../Фронтенд/Портфолио/Вэб студия/sass/style.sass */
  .form-flex {
    justify-content: center;
    align-items: center;
    padding-right: 15px;
  }
}

/*# sourceMappingURL=style.css.map */